<a href="https://colab.research.google.com/github/cyriacmathew2003/Introduction-to-Python/blob/main/17_11_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("enter a absolute value"))
if x<0:
 print(x*(-1))

enter a absolute value-5454
5454

In [2]:
num=int(input())
if(num>0):
     print("absolute vale of",num,"is",num)
else:
   num=num*(-1)
   print("absolut value of",num,"is",num)

54
absolute vale of 54 is 54

In [3]:
x=int(input("enter marks"))
if x<=25:
  print("F")
if 25 <x <=45:
  print("E") 
if 45 <x <=50:
   print("D") 
if 50 <x <=60:
   print("C")
if 60 <x  <=70:
   print("B")
if x>80: 
    print("A")

enter marks23
F

In [4]:
x=int(input("number of class held"))
y=int(input("number of classes attended"))
z=y/x*100
if z>75:
   print(z,"you are  able to attend the exam")
if z<75:
   print(z,"you are not able to attend the exam")

number of class held23
number of classes attended4
17.391304347826086 you are not able to attend the exam

In [5]:

print("1.Addition \n2.Subtraction \n3.Multiplication \n4.Division \n5.Modulus \n6.Floor Division \n7.Exponent")
x=int(input("Enter operation: "))
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
if x==1:
  print("addition")
  print(a+b)
if x==2:
  print("subraction")
  print(a-b)    
if x==3:
  print("multiplicaton")
  print(a*b)
if x==4:
  print("Division")
  print(a/b)
if x==5:
  print("modulus")
  print(a%b)
if x==6:
  print("Floor Division")
  print(a//b)
if x==7:
  print("Exponent")
  print(a**b)

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Modulus
6.Floor Division
7.Exponent
Enter operation: 8
Enter a number: 4
Enter a number: 5

In [6]:
x=int(input("enter a mark of subject 1"))
a=int(input("enter a mark of subject 2"))
b=int(input("enter a mark of subject 3 "))
c=int(input("enter a mark of subject 4"))
d=int(input("enter a mark of subject 5"))
print("least marks",min(x,a,b,c,d))
print("max marks",max(x,a,b,c,d))
print(x+a+b+c+d/5)

enter a mark of subject 185
enter a mark of subject 258
enter a mark of subject 3 944
enter a mark of subject 464
enter a mark of subject 5646
least marks 58
max marks 944
1280.2

In [7]:
num= int(input("enter the number to display the corresponding"))
for i in range(1,11):
   print(i*num)

enter the number to display the corresponding4
4
8
12
16
20
24
28
32
36
40

In [8]:
num= int(input("enter the number to display the corresponding"))
for i in range(1,11):
   print(i,"*",num,"=",i*num)

enter the number to display the corresponding15
1 * 15 = 15
2 * 15 = 30
3 * 15 = 45
4 * 15 = 60
5 * 15 = 75
6 * 15 = 90
7 * 15 = 105
8 * 15 = 120
9 * 15 = 135
10 * 15 = 150

In [9]:
num=(input("enter the number"))
k=0 
for i in num:
  k=k+1
print(k)

enter the number31
2

In [10]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

33
33
66
99
132
165
198
231
264
297
330

In [11]:
string=input(("enter string: "))
reversestring= ""
for i in string:
    reversestring = i + reversestring
print("reverse string: ",reversestring)      
if (string == reversestring):
    print("the string is palindrome")
else:
    print("the string is not palindrome")

enter string: maka
reverse string:  akam
the string is not palindrome

In [12]:
name=input(("enter the username"))
name=name.replace("y","a")
print(name)

enter the usernamecyriac
cariac

In [13]:
name=input(("enter a username"))
if name.isupper():
  print("Upper case")
  print(name.lower())
if name.islower():
  print("lower case")
  print(name.upper())

enter a usernamecyriac
lower case
CYRIAC