In [1]:
mark=int(input())

50

In [2]:

if mark >50 :
  print ("you are passed")
  if mark <50 :
    print("you are failed")

In [3]:
mark=int(input())

51

In [4]:
if mark==50  : 
  print ("just passed")

In [5]:

salary=int(input())
if salary >250000 :
  print("salary  taxable")
if salary <250000  :
    print("salary not taxable")

300000
salary  taxable

In [6]:
salary=int(input())
if salary >250000  :
  print("salary taxable")
  print(salary*10/100)
if salary <250000  :
    print(" salary not taxable")

400000
salary taxable
40000.0

In [7]:
salary=int(input())
if salary >250000 :
  print("salary taxable")
  print((salary-250000)*10/100)
if salary <250000  :
  print("salary not taxable")

300000
salary taxable
5000.0

In [8]:
salary=int(input())
if 0< salary<=250000  :
  print("salary  not taxable")
if 250000<salary<=500000 :
   print ("salary taxable")
   print ((salary-250000)*10/100)
if salary >500000  :
  print("salarytaxable")
  print((salary-250000)*20/100)

500000
salary taxable
25000.0

In [9]:
salary=int(input())
if 0< salary<=250000 :
  print("salary  not taxable")
if 250000<salary<=500000 :
  print("salary taxable")
  print((salary-250000)*10/100)
if salary >500000  :
  print("salary taxable")
  print((250000*(10/100))+((salary-500000)*(20/100)))

600000
salary taxable
45000.0