<a href="https://colab.research.google.com/github/cyriacmathew2003/Introduction-to-Python/blob/main/tax2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("enter your salary"))
if x<250000  :
  print("you are not taxable")
if x >250000 and x <500000  :
    y=  (x-250000)*10/100
    print("you are taxable","you interst is",y)
if x >500000 and x <750000 :
    y =(x-500000)*20/100
    print("you are taxable","your interest is",y)

enter your salary50000
you are not taxable

In [2]:
salary=int(input())
if salary <250000 :
  print("NO TAX")
if salary >250000 and salary <500000 :
  print("You are taxable",(salary-250000)/10)
if salary >500000 and salary <750000 :
  print("You are taxable",250000/10 + (salary-500000)*20/100)
if salary >750000 :
  print("you are taxable",(250000)*10/100 +(250000*20/100) + (salary-750000)*30/100)
if 1000000 <salary  :
  print("salary taxable")
  print(250000)*10/100 +(250000*(20/100) + (92500000*(30/100))+((salary-1000000)*(32/100)))

600000
You are taxable 45000.0

In [3]:
3

3