<a href="https://colab.research.google.com/github/cyriacmathew2003/Introduction-to-Python/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def ff():
  print("fifa world cup 2022")
ff()

fifa world cup 2022

In [2]:
def ff():
  x=input("enter first name")
  y=input("enter middle name")
  z=input("enter last name")
  print(x,y,z)

In [3]:
ff()

enter first namehello
enter middle nameworld
enter last namedd
hello world dd

In [4]:
def ff():
  print(z,y,x)

  x=input("enter first name")
  y=input("enter middle name")
  z=input("enter last name")
  
  ff()

In [6]:
def name(*x):
  print('my favourate player is',chris[1])
  print('my favourate player is',abi[2])
chris=['messi','ronaldo','naymer']
abi=['pepe','suarus','sala']
name(chris)
name(abi)

my favourate player is ronaldo
my favourate player is sala
my favourate player is ronaldo
my favourate player is sala

In [7]:
def fact(n):
  if n <= 1:
    return n
  else:
    return(fact(n-1)*n)
  print(fact(10))

In [8]:
362800

362800