<a href="https://colab.research.google.com/github/cyriacmathew2003/Introduction-to-Python/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1,16):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [2]:
x=int(input())
def fact(n):
  if n<=1:
    return n
  else:
      return(fact(n-1) * n)
print(fact(x))

10
3628800

In [3]:
str="cyriac "
print (str[2:])

riac